<div class="container-fluid text-center">
  <button routerLink="/usuario-detail" class="m-4">Crear</button>

  <ul class="list-group mx-auto d-block w-75 p-2">
    <li *ngFor="let usuario of usuarios" 
      class="list-group-item d-flex justify-content-between align-items-center">
      <div class="li" routerLink="/usuario-detail/{{usuario.id}}">{{usuario.id}}</div>
      <span (click)="delete(usuario)" class="badge badge-danger badge-pill">X</span>
    </li>
  </ul>

  <ngb-pagination 
    class="d-flex justify-content-center"
    [(page)]="page"
    [pageSize]="limit" 
    [collectionSize]="totalItems" 
    [maxSize]="5" 
    [rotate]="true"
    [ellipses]="false" 
    [boundaryLinks]="true"
    (pageChange)="changePage($event)">
  </ngb-pagination>
</div>