<div class="jumbotron text-center heading" style="margin-bottom:0">
  <br><br><br><br> <h1>CREEMOS EN EL PODER DE LOS LIBROS.</h1><br><br><br><br>
</div>

<div class="container-fluid" style="margin-top:30px">
  <div class="text-center titulo" style="margin-bottom:0">
      <h1>SERVICIOS</h1>
  </div>
  <div class="row barra">
    <div class="text">
      <p> </p>
    </div>
  </div>
  <div class="row servicios">
    <div class="col-sm-4 servicio">
      <img class="img-fluid" src="assets/img/stack_books.jpg" alt="stack_books">
      <h4 class="subtitulo">Prestamo de libros</h4>
      <p>Dentro de nuestra biblioteca podras encontrar toda clase de libros y ejeplares sobre diversos topicos desde literatura hasta ciencia computacional, los cuales podras pedir prestados en el escritorio de la entrada principal.</p>
    </div>
    <div class="col-sm-4 servicio">
      <img class="img-fluid" src="assets/img/reading_club.jpg" alt="reading_club">
      <h4 class="subtitulo">Grupos de lectura</h4>
      <p>Cada dia 15 del mes hay una reunion del club de lectura en conjunto de la biblioteca, las reuniones son de 12 am a 1 pm.</p>
    </div>
    <div class="col-sm-4 servicio">
      <img class="img-fluid" src="assets/img/descarga.jpg" alt="media">
      <h4 class="subtitulo">Multimedia</h4>
      <p>La biblioteca tambien cuenta con un area de multimedia donde podras revisar nuestras computadoras con toda la informacion que necesites.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row nosotros">
    <div class="col-sm-6">
      <div class="text-center titulo" style="margin-bottom:0">
        <h1>NOSOTROS</h1>
      </div>
      <div class="row barra">
        <div class="text">
          <p> </p>
        </div>
      </div>
      <p>Somos un grupo de desarrolladores que decidimos juntar nuestro conocimiento y experiencia para crear cosas geniales, utiles y sobretodo pasar la materia.</p>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid" src="assets/img/libros-usados.jpg" alt="libros-usados">
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row" style="background-color: #EAD224;">
      <div class="text">
        <br><br><br><br>
      </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:30px">
  <div class="text-center titulo" style="margin-bottom:0">
      <h1>CONTACTO</h1>
  </div>
  <div class="row barra">
    <div class="text">
      <p> </p>
    </div>
  </div>
  <div class="row contacto">
    <div class="container-fluid">
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14933.447453280514!2d-103.325429!3d20.654852!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6340b4db1fe338a8!2sCentro+Integral+de+Documentaci%C3%B3n+%7C+CID!5e0!3m2!1ses-419!2smx!4v1558746756614!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h4 class="subtitulo">Comentarios</h4>
      <p>Para todo tipo de preguntas, comentarios e inquietudes; por favor llámanos: 914-135-288 o completa el formulario a continuación</p>
      <br>
      <div class="form-group">
        <input type="text" placeholder="Nombre:" class="form-control nombre">
      </div>
      <div class="form-group">
        <input type="email" placeholder="Correo:" class="form-control email">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Asunto:" class="form-control asunto">
      </div>
      <div class="form-group">
        <textarea class="form-control msj" placeholder="Mensaje:" rows="5"></textarea>
      </div>
      <button type="button" class="btn btn-primary">Enviar</button>


    </div>
    <div class="col-sm-6">
      <h4 class="subtitulo">Contacto</h4>
      <p>Av. Los Rosales 122,<br>
      28021, Madrid.<br>
      <br>
      info@misitio.com <br>
      Teléfono: 914-135-288 <br>
      Fax: 914-123-456</p>
      <div class="row barra">
        <div class="text">
          <p> </p>
        </div>
      </div>
      <h4 class="subtitulo">Servicio Social</h4>
      <p>Realiza tu servicio social dentro de la biblioteca, infórmate con la recepcionista.</p>
    </div>
  </div>


</div>

<div class=" text-center" style="margin-bottom:0">
  <p>© 2019 readMore, Universidad de Guadalajara.</p>
</div>