<div class="container-fluid text-center">
  <div class="form">
    <div class="form-group p-1 m-3">
      <label class="p-2 m-3">Nombre</label>
      <input id="nombre" class="p-2 m-3" (keyup.enter)="submit()"
          [(ngModel)]="grupo.nombre" autofocus/>
    </div>
    <div class="form-group p-1 m-3">
      <button (click)="back()">Atrás</button>
      <button (click)="submit()">
        <div *ngIf="grupo.id == null">
          Crear
        </div>
        <div *ngIf="grupo.id != null">
          Actualizar
        </div>
      </button>
    </div>
  </div>

</div>