@import "../../variables.scss";

.title {
    font-size: 40px;
    background-color: $primary-color;
    color: $secondary-color;
}

.dashboard {
    background-color: $secondary-color;
    color: white;
    font-size: 20px;
}

.dashboard .element:hover {
    color: black;
}