@import "../../variables.scss";

.title {
    font-size: 30px;
    background-color: $primary-color;
    color: $secondary-color;
}

.dashboard {
    background-color: $secondary-color;
    color: white;
    font-size: 20px;
}

.dashboard .element:hover {
    color: black;
}

.dashboard button {
    color: white;
    font-size: 20px;
}

.dashboard button:hover {
    background-color: $secondary-color;
    color: black;
}

.dropdown-menu{
    max-height: 200px; 
    overflow-y: auto; 
}