/* You can add global styles to this file, and also import other style files */
@import "app/variables.scss";

label {
    background-color: $primary-color;
    font-size: $font-size;
    border-radius: 10px;
}

input, textarea {
    border-radius: 10px !important;
    background-color: #fff5cc !important;
    border-style: none !important;
    outline-style: none !important;
}

button {
    border-radius: 25px;
    background-color: $secondary-color;
    border: none;
    color: white;
    font-size: $font-size;
    cursor: pointer; cursor: hand;
    padding: 5px;
}

button:hover {
    background-color: $secondary-color-hover;
}

button:disabled {

}

.li {
    width: 100%;
}